/data/
/example_configs/archive/
/example_weights/archive/
/od_legacy/
/paper_ablations/
/paper_configs_kitti_tracking/
/paper_configs_vkitti/
*.pyc
*#*
*.pyx
*.record
*.tar.gz
*.tar
*.swp
*.npy
*.ckpt*
*.idea*
axcana.egg-info
.vscode
.idea
*.blg
*.gz
*.avi
/example_weights/
